* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: orange;
}

/* Box display where questions and answer choices will appear in.*/
.quiz {
    width: 800px;
    max-width: 80%;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px;
    font-size: x-large;
}

/* Layout for answer choice buttons.*/
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    margin: 20px 0;
}

/* Styles for answer choice button displays.*/
.btn {
    --hue: var(--hue-neutral);
    border: 1px solid;
    background-color: rgb(12, 147, 231);
    border-radius: 8px;
    padding: 20px 15px;
    color:black;
    font-size: large;
    box-shadow: 3px 3px 3px;
    outline: none;
}

/* Button disabled icon for user after answer is selected. */
.btn:hover:not([disabled]){
    border-color:aliceblue;
}

.btn:disabled {
    cursor: no-drop;
}

/* Green background for when user clicks correct answer. */
.btn.correct {
    background-color: rgb(12, 187, 9);
}

/* Red background for when user clicks wrong answer. */
.btn.wrong {
    background-color: rgb(251, 41, 41);
}

/* Start & Next button style. */
.start-btn {
font-size: 1.5rem;
font-weight: bold;
border-radius: 8px;
padding: 10px 20px;
background-color: orange;
box-shadow: 0 0 5px;
cursor: pointer;
}

.start-btn:hover {
    border-color: orange;
}

.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: orange;
    box-shadow: 0 0 5px;
    cursor: pointer;
} 

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Gets classes that need to hide. */
.hide {
    display: none;
}

/* Text layout for instructions to quiz. */
.header {
    text-align: center;
    font-size: large;
}

/*Adjusted timer to be enlarged and appear on left-hand side of screen. */
.timer {
    text-align: center;
    font-size: xx-large;
    height: 500px;

}